<div class="container">
    <h3>Carro de compras</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th class="col-md-6" scope="col">Nombre</th>
              <th class="col-md-2" scope="col">Precio</th>
              <th class="col-md-2" scope="col">Cantidad</th>
              <th class="col-md-1" scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prueba</td>
              <td>10</td>
              <td>4</td>
              <td><button class="btn btn-danger">eliminar</button></td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>10</td>
                <td>4</td>
                <td><button class="btn btn-danger">eliminar</button></td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>10</td>
                <td>4</td>
                <td><button class="btn btn-danger">eliminar</button></td>
            </tr>
            <tr>
                <td class="col-md-7"></td>
                <td class="col-md-1">Total</td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
      </table>
</div>
