<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cart App</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav center">
        <div><a class="nav-item nav-link" routerLink="catalog" [routerLinkActive]="['active']">Catalog</a></div>
        <div><a class="nav-item nav-link" routerLink="cart" [routerLinkActive]="['active']">Cart</a></div>
    </div>
    </div>
  </div>
</nav>
